

body {
	margin: 0 auto;
	width: 960px;
	background-color: #777;
	text-align: center;
	font-size: 18px
	
}

nav, section, aside, footer {

	color: #777;
}

#header1 {
	margin: 10px auto;
	height: 90px;
	width: 960px;
	background-color: #ebebeb;
	color: #777;

}

#header2 {

	color: #ebebeb;
}

nav {

	width: 960px;
	height: 90px;
	margin: 0 auto;
	background-color: #ebebeb;
}

#section {
	
	padding-top: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 495px;
	height: 270px;
	background-color: #ebebeb;
	float: left;
} 

p {

	width: 420px;
	height: 50px;
	margin: 10px auto;
	background-color: #ebebeb;
	color: #777;
}

#margin {

	margin-top: 50px;
	color: #777;
}




article {
	
	margin-top: 30px;
	width: 465px;
	height: 180px;
	background-color: #777;
	margin: 0 auto;
	margin-bottom: 20px;
	color: #ebebeb;
	


}

aside {
	
	width: 450px;
	height: 270px;
	background-color: #ebebeb;
	margin-bottom: 10px;
	margin-top: 20px;
	float: right;
}

footer {

	background-color: #ebebeb;
	height: 90px;
	clear: both;
}